[2019-01-31 00:13] gaearon opened #1 "Decide on subdomain"
Should it be `cn`, `zh`, `zh-cn`, `zh-hans`, or something else?

[2019-01-31 00:50] zhongdeming428 commented on #1
I prefer `cn` as the subdomain,just like https://cn.bing.com/?mkt=zh-CN

[2019-01-31 00:59] gaearon commented on #1
What if somebody later wants to start a Traditional Chinese translation?

[2019-01-31 02:21] chenjie3323 commented on #1
Can i have a try

[2019-01-31 02:54] robertying commented on #1
Something like Wikipedia's:

- Simplified Chinese (Mainland) `https://zh.wikipedia.org/zh-cn/`
- Traditional Chinese (Hong Kong) `https://zh.wikipedia.org/zh-hk/`
- Traditional Chinese (Macao) `https://zh.wikipedia.org/zh-mo/`
- Simplified Chinese (Malaysia) `https://zh.wikipedia.org/zh-my/`
- Simplified Chinese (Singapore) `https://zh.wikipedia.org/zh-sg/`
- Traditional Chinese (Taiwan) `https://

[2019-01-31 02:54] QC-L commented on #1
I think it would be better to use cn.
Traditional Chinese translation use zh-hant.

[2019-01-31 06:00] shaodahong commented on #1
yeh, better to use cn

[2019-01-31 07:12] haimengzhang commented on #1
using `zh-cn` for simplified and `zh-tw` for traditional is more intuitive as I see it more often. second @robertying, but that being said, `zh-cn`  is a child category of `zh-hans`, and `zh-tw` of`zh-hant`, with the parent categories meaning Chinese written simplified scripts or traditional scripts.

[2019-01-31 07:56] tesseralis opened #2 "[READ ONLY] The Glossary Sheet"
# React 翻译参考

**相关问题讨论请移步至 #611. 本 issue 现在为只读状态**。

- 本术语表只适用于该术语作为整体概念时的翻译参考，当其作为概念的一部分时，视具体情况翻译。

## React 中英文对照表

|          术语           |      译文       |
| :---------------------: | :-------------: |
|         asserts         |      断言       |
|       Application       |      应用       |
|     breaking change     |   破坏性更改    |
|        callback         |    回调函数     |
|    Class Components

[2019-01-31 10:05] gaearon commented on #1
The problem is we **can’t have two languages on one domain**. This would make the website more complex. So we need to choose two different domains.

[2019-01-31 10:05] gaearon commented on #1
cc @chloewlin, any thoughts?

[2019-01-31 10:32] chloewlin commented on #1
@gaearon I agree. I also prefer `cn` for Simplified and `tw` for Traditional for its clarify and simplicity.

[2019-01-31 10:39] shaodahong commented on #1
@QC-L i understand your worry, but weibo also use `tw.weibo.com`

[2019-01-31 10:41] QC-L commented on #1
weibo use https://weibo.com/tw, not `tw.weibo.com`

[2019-01-31 10:42] discountry commented on #1
@gaearon @chloewlin Using `cn` and `tw` would cause political issues to the whole React project.

We should avoid that, it's not wise to do so.

BTW, if we use `cn` and `tw` , we also need `hk`, that would make a simple problem to a complex one.

[2019-01-31 10:44] gaearon commented on #1
I wasn’t aware of the political implications. Sorry about this!

Do `zh-tw` and `zh-cn` have any issues too?

[2019-01-31 10:45] haimengzhang commented on #1
How about zh-cn as a domain for simplified and zh-tw for traditional? Are
we not going to have two subdomains? @gaearon

On Thu, Jan 31, 2019, 4:33 AM QiChang Li <notifications@github.com wrote:

[2019-01-31 10:45] shaodahong commented on #1
agree, political issues are important

[2019-01-31 10:45] gaearon commented on #1
Also, Vue docs go with `cn` — is that problematic too in a way?

[2019-01-31 10:46] gaearon commented on #1
@haimengzhang

If `zh-cn` and `zh-tw` aren’t problematic they sound ok to me as subdomains.

[2019-01-31 10:47] discountry commented on #1
@gaearon Vue only has one Chinese doc.

[2019-01-31 10:47] shaodahong commented on #1
maybe use `cn` and `zh-tw`

[2019-01-31 10:47] haimengzhang commented on #1
Sounds good to me. Tw and cn is indeed a very sensitive issue😅

On Thu, Jan 31, 2019, 4:44 AM Dan Abramov <notifications@github.com wrote:

[2019-01-31 10:48] shaodahong commented on #1
like facebook `https://zh-tw.facebook.com/`

[2019-01-31 10:52] haimengzhang commented on #1
Hmm i think however we use it, it will be a bit political. Say just the
choice of not choosing zh-hk instead of zh-tw. Western media and countries
like US take Taiwan as a country, but China is on the opposite stance. So
either way, the choice of picking tw has some political flavor.

On Thu, Jan 31, 2019, 4:48 AM 骗你是小猫咪 <notifications@github.com wrote:

[2019-01-31 10:52] chloewlin commented on #1
I am fine with `zh-tw` if it helps us stay away from potential controversies and stay focused on producing quality, up-to-date translations that help React docs accessible to more developers. Thank you everyone for your thoughtful reminders.

[2019-01-31 10:53] gaearon commented on #1
Can tw be `zh-hant` then?

[2019-01-31 10:55] haimengzhang commented on #1
Yes, that sounds most neutral of all.

On Thu, Jan 31, 2019, 4:53 AM Dan Abramov <notifications@github.com wrote:

[2019-01-31 11:00] gaearon commented on #1
The other concern is typing. If it’s too long, it could be annoying and alienating. I don’t know how many websites in practice use two/five/seven letter codes.

Is `zh-tw` controversial or is it only `tw`?

I think `zh-cn` and `zh-tw` could be a good tradeoff overall between typing and accuracy. But I don’t know if those are considered problematic in any way.

[2019-01-31 11:05] chenjie3323 commented on #1
I don't think the developer will notice it. they are focusing their works. For me,  `zh-tw` and `zh-cn` are not problematic. BTW, I'm a Chinese developer.

[2019-01-31 11:06] discountry commented on #1
@gaearon

zh-CN | 中文(简体)
-- | --
zh-HK | 中文(香港)
zh-MO | 中文(澳门)
zh-SG | 中文(新加坡)
zh-TW | 中文(繁体)

The majority uses simplified Chinese, so we could keep the `cn` for simplified Chinese version doc.

And `zh-tw` is just a language code, it's not sensitive. We can use it for traditional one.

Simplified Chinese and Traditional Chinese are not just different characters, we use different phrases and word

[2019-01-31 11:12] shaodahong commented on #1
The focus on language, not country

[2019-01-31 11:15] gaearon commented on #1
Thanks everyone for your perspectives. I’ll consult more people and learn more about this issue and then will post our proposal later today. I agree that we need to be efficient and not spend too much time on this. But on the other hand I want to make sure we’ve done due diligence here and don’t cause unnecessary controversy. I’ll post later!

[2019-01-31 11:15] shaodahong commented on #1
`cn` for simplified and `zh-tw` for traditional make easy

[2019-01-31 11:31] hijiangtao commented on #1
Maybe we need more discussion about how to handle the subdomain for Traditional Chinese Translation, but it seems pretty clear currently, which is `cn` is well known in representing Simplified Chinese Translation.

I quickly look through some famous repositories and here's what I found:

* Angular for https://angular.cn/
* Vue for https://cn.vuejs.org/
* Redux for https://cn.redux.js.org/
* Mapbox

[2019-01-31 11:46] gaearon commented on #1
I agree with the proposal to use `cn` for the Simplified Chinese docs. It seems to be commonly accepted in the front-end community and uncontroversial in this discussion.

I will need more time to choose the Traditional Chinese domain. I’ll post in this thread after we have done so, but for now this shouldn’t need to stop us from work. We haven’t set up a repo for it anyway yet.

Thank you all aga

[2019-01-31 11:46] #1 closed

[2019-01-31 12:27] QC-L opened #4 "Simplified Chinese Translation Progress"
翻译前，请仔细阅读 [React-中文文档译文排版指南](https://github.com/reactjs/zh-hans.reactjs.org/wiki/React-%E4%B8%AD%E6%96%87%E6%96%87%E6%A1%A3%E8%AF%91%E6%96%87%E6%8E%92%E7%89%88%E6%8C%87%E5%8D%97)。

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one

[2019-01-31 18:44] gaearon commented on #1
After talking to people on different sides of this issue, we've decided to use the neutral script codes to avoid any appearance of the political stance. We don't intend to host multiple dialects of Traditional and Chinese translations, so `zh-hans` and `zh-hant` will be sufficient.

We could possibly add redirects from shorter domains in the future if enough people complain about it. But for now I

[2019-02-01 00:39] robertying commented on #4
I would like to translate, starting with “Thinking in React” if that’s ok.

But we need to wait for the glossary to be finished first, don’t we? Or is there anything I can help with too?

[2019-02-01 00:42] tesseralis commented on #4
@robertying I think you can start. The previous version of the glossary is here for reference: https://react.docschina.org/docs/glossary.html

Remember to reference the previous version of the translation (https://react.docschina.org/docs/thinking-in-react.html) and just make sure it's accurate to the current docs (https://reactjs.org/docs/thinking-in-react.html

[2019-02-01 00:54] robertying commented on #4
@tesseralis their original work seems more than intact. Translating those pages would be mostly reviewing instead of editing. I don’t tend to take their credit for those. Maybe I should start with something untranslated like pages about hooks. What do you think?

[2019-02-01 00:55] tesseralis commented on #4
Sure! I think some of the hooks pages are already translated but you're free to pick one that isn't :)

[2019-02-01 01:04] robertying commented on #4
I’ll start from bottom to top so the first will be “Hooks FAQ” 😊

[2019-02-01 01:32] tesseralis commented on #4
@QC-L are you and the team able to handle porting over the rest of the Chinese site in the next few weeks? Would you like folks like @robertying to help?

[2019-02-01 01:36] QC-L commented on #4
@tesseralis  I will give the translation process and specifications.

[2019-02-01 01:37] QC-L commented on #4
@robertying You can choose one, if you think it is not good before, you can re-translate.

[2019-02-01 01:55] QC-L commented on #4
@robertying The previous content did not have some review, this time will pay attention, thank you for reminding.
Thank you for your help, make this repo perfect.

[2019-02-01 02:35] lcxfs1991 commented on #4
Happy to see your enthusiasm @robertying. There seems to be some defects in old version because reviewer did not review in time. Though we should be thankful since a lot of people voluntarily help the translation. Open source community needs both hero and the mass.

Looking forward to your contribution!

[2019-02-01 02:37] QC-L commented on #4
@robertying Past content can be referenced, but re-translation is best.

[2019-02-01 02:45] robertying commented on #4
Cool, thanks for the suggestions. 😀 After careful considerations, I think I'd better start to review the old ones first so the website can get working soon. As was mentioned, I'll start from bottom to top. The first would be reviewing `Thinking in React`.

[2019-02-01 02:53] QC-L commented on #4
Yeah, that's great.
I will add the QR code of the WeChat group in README.md.
You can join us, as @lcxfs1991 says the community need hero.

[2019-02-01 04:08] yuqingc commented on #4
I'd like to claim the "tutorial" part if it is not taken yet.

[2019-02-01 06:43] yuqingc commented on #2
`Tip` 这个单词很多地方出现了，是直接不翻译，还是需要统一一下。
![image](https://user-images.githubusercontent.com/29723652/52107003-b2682980-262f-11e9-8d94-1ba9773c2e0f.png)

[2019-02-01 06:50] caiyongmin commented on #4
I'd like to translate the `Test Utilities` part,
if it is not taken yet.

[2019-02-01 07:11] MrPluto commented on #4
Pleasure to translate `Conditional Rendering`

[2019-02-01 07:30] baxtergu commented on #4
Would like to take `Lifting State Up` as a start.

[2019-02-01 07:48] caiyongmin commented on #2
`painless JavaScript testing` 这个可不可以直接翻译成 `JavaScript 测试`?

[2019-02-01 07:50] caiyongmin commented on #2
加一个 Note

![image](https://user-images.githubusercontent.com/11053605/52109606-0aeff480-2639-11e9-8530-1a0101a7d474.png)

[2019-02-01 08:00] robertying commented on #2
`callback` 回调函数

Is there any need to translate it or translate all to `回调函数`?

[2019-02-01 08:17] tesseralis commented on #2
I added `TRANSLATION.md` to the main repo: https://github.com/reactjs/zh-hans.reactjs.org/blob/cn/TRANSLATION.md

Once we've finalized the style guide of terms, let's put it in that file so that it's more discoverable.

[2019-02-01 09:16] chenjie3323 commented on #4
Want to start at `State and Lifecycle`.

[2019-02-01 09:19] robertying commented on #4
Continue with `Composition vs Inheritance`, if it's ok

[2019-02-01 09:19] dear-lizhihua commented on #2
External Plugins 和 Third Plugins 如何区分？
我觉得应该细分为 外部化插件 和 第三方插件

[2019-02-01 09:33] haimengzhang commented on #2
重用 sounds better to me.

On Fri, Feb 1, 2019, 3:26 AM Robert Ying <notifications@github.com wrote:

[2019-02-01 10:09] chenjie3323 commented on #2
The `Try it on CodePen` link occurs many times in different sections.
I think the translation should be consistent.
`在CodePen中试试`  `在CodePen中尝试` or any other translation?

[2019-02-01 10:12] robertying commented on #2
@chenjie3323 don't forget the whitespace between English and Chinese characters.

[2019-02-01 10:13] robertying commented on #2
How about `class`? Should we translate it?

[2019-02-01 10:15] chenjie3323 commented on #2
Oh, thank you for pointing out that.

[2019-02-01 14:03] QC-L commented on #4
@haimengzhang You can translate it.

[2019-02-02 05:21] Koopos commented on #4
anyone working on using state hooks?

[2019-02-02 05:45] QC-L commented on #4
@Koopos We focus on `Basics`.

[2019-02-02 05:49] robertying commented on #4
I'll continue to work on `Rendering Elements`.

[2019-02-02 06:48] tesseralis opened #17 "[Doc]: Add docs for useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/4c29b69558c401648f9e104dbd0dc7ab83e2fe51

[2019-02-02 06:48] tesseralis opened #18 "[Doc]: Merge pull request #1570 from bvaughn/useDebugValue-formatterFn"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8b333fd528856d611bccc7ad0ac137037471c6c4

[2019-02-02 06:48] tesseralis opened #19 "[Doc]: Merge pull request #1544 from threepointone/master"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/924e76dc1b2b220da423549019c470696d08f9d8

[2019-02-02 06:48] tesseralis opened #20 "[Doc]: typo"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/26b0eb258a5ccf3e2ba5fd3010036213f7bc598c

[2019-02-02 06:48] tesseralis opened #21 "[Doc]: Update meetups.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/14346719d4e331487313a53e52b256f986ca6d14

[2019-02-02 06:48] tesseralis opened #22 "[Doc]: Add note about Promise polyfill for React.lazy"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/165ae047b4d1e419cbe3d2cdedae745c164b5a6f

[2019-02-02 06:48] tesseralis opened #23 "[Doc]: Typo fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/17fdc425bc08a2661359ee63f21f19dc13517ad9

[2019-02-02 06:48] tesseralis opened #24 "[Doc]: Added link to Reach Router"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/b38c572939d5cad9cda99dd9514c187b1dc7d807

[2019-02-02 06:48] tesseralis opened #25 "[Doc]: Merge pull request #1557 from bvaughn/useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/df240a426d37cbe8c955a4cbce4495f8c52f1274

[2019-02-02 06:48] tesseralis opened #26 "[Doc]: fest: add React Native EU 2019, move React India"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/c89caa08b3cc79bf224d068cbffc04254337b1e6

[2019-02-02 06:48] tesseralis opened #27 "[Doc]: Added useDebugValue formatter function"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0ace70f43da6b4c713bf22d44ed5972692210c9e

[2019-02-02 06:48] tesseralis opened #28 "[Doc]: Add ReactBris to meetups"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/dc2deb974b20228fada6bd0a7eac442d46482efb

[2019-02-02 06:48] tesseralis opened #29 "[Doc]: Wordsmithing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/efcbcc5a58ab88cf67de57eb9ff0c6dc65f0137d

[2019-02-02 06:48] tesseralis opened #30 "[Doc]: Very important fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f2d22dec00d549d40e3c41306e2aa0fc6a79bc78

[2019-02-02 06:48] tesseralis opened #31 "[Doc]: [Hooks] Add recommendations about useMemo and lazy init"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d7d55332780100f9488b6f08a41803c1df8738ea

[2019-02-02 06:48] tesseralis opened #32 "[Doc]: Tweak useMemo wording"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/9b5638f03453812a1586d67b219a19428e6aa0ee

[2019-02-02 06:48] tesseralis opened #33 "[Doc]: Warn against side effects in useMemo"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a946fb37831b30451eb147432a9882a48723cb63

[2019-02-02 06:48] tesseralis opened #34 "[Doc]: Bump alpha"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/024b5b61731f267f3eb911c13fdd36e1a11c9d1e

[2019-02-02 06:48] tesseralis opened #35 "[Doc]: Warning page for invalid Hook calls"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f149987d940cefaa0bce4b3351a8991bfdc1d9c0

[2019-02-02 06:48] tesseralis opened #36 "[Doc]: Clarify conflicting advice"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/1a49812370255f92d40e8512cdc95e205aff8864

[2019-02-02 06:49] #17 closed

[2019-02-02 06:49] #18 closed

[2019-02-02 06:49] #19 closed

[2019-02-02 06:49] #20 closed

[2019-02-02 06:49] #21 closed

[2019-02-02 06:49] #22 closed

[2019-02-02 06:49] #23 closed

[2019-02-02 06:49] #24 closed

[2019-02-02 06:49] #25 closed

[2019-02-02 06:49] #26 closed

[2019-02-02 06:49] #27 closed

[2019-02-02 06:49] #28 closed

[2019-02-02 06:49] #29 closed

[2019-02-02 06:49] #30 closed

[2019-02-02 06:49] #31 closed

[2019-02-02 06:49] #32 closed

[2019-02-02 06:49] #33 closed

[2019-02-02 06:49] #34 closed

[2019-02-02 06:49] #35 closed

[2019-02-02 06:49] #36 closed

[2019-02-02 07:11] hijiangtao commented on #4
We may need a better structure to organize the translation list, it's pretty difficult to see the progress of it, currently.

For example, use **table** rather than list:

|Title|Processing|Status|
|---|---|---|
|Hello World|(@ GitHub ID here)|Translating/Proofreading, etc.|

[2019-02-02 10:56] BetaMee commented on #2
legacy 应该翻译为遗留 还是过时呢？

[2019-02-02 16:39] QC-L commented on #2
@BetaMee 遗弃 或者 过时吧？其他人有何看法？

[2019-02-03 02:42] BetaMee commented on #2
@QC-L 又看到新的叫法 废弃API，这个可能更合适一些

[2019-02-03 05:03] QC-L commented on #2
@BetaMee 废弃吧

[2019-02-03 11:00] Koopos commented on #2
Hooks => Hooks  Hook => Hook 这样吗？

[2019-02-06 09:09] reactjs-translation-bot opened #42 "[Merge]: Docs updates"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d460a9b106c7b45d1f0168dbbeafb245ccd16cab

[2019-02-06 09:09] reactjs-translation-bot opened #43 "[Merge]: Renamed Hooks blog/date"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/30914131e8af651bf464a9380e47d7795b8827b9

[2019-02-06 09:09] reactjs-translation-bot opened #44 "[Merge]: Thanks Sophie"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ed6e711a83f3f53f834fb5e331632a0dd20c3e95

[2019-02-06 09:09] reactjs-translation-bot opened #45 "[Merge]: Revert "add warning for invalid hook call""
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/95258c051661ee21c7f7dd3d9e17c0d3d9eb67b0

[2019-02-06 09:09] reactjs-translation-bot opened #46 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/2fd487e3093319b14c3e031d596ebc4e96a480a8

[2019-02-06 09:09] reactjs-translation-bot opened #47 "[Merge]: testing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/601c016f49719819dd74799f0b334e50311c8d88

[2019-02-06 09:09] reactjs-translation-bot opened #48 "[Merge]: Tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e5a987bc60a80ca935f8e11f16b06f2a58215b64

[2019-02-06 09:09] reactjs-translation-bot opened #49 "[Merge]: review tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/37d46dd8a397512ca3078aa1f320af27f9bf747c

[2019-02-06 09:09] reactjs-translation-bot opened #50 "[Merge]: Point to codesandbox and usehooks as community examples"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f9f0d66272a373d52ea975978c0c3b2b77620bd8

[2019-02-06 09:09] reactjs-translation-bot opened #51 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0d8957026442f2af82190874213d0935685dc42b

[2019-02-06 09:14] reactjs-translation-bot opened #52 "[Merge]: Updated 16.8 CHANGELOG wording to also mention ReactTestRenderer.act()"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/cea45bbbb498d85cf9c1ce615753afd29d20f244

[2019-02-06 20:09] reactjs-translation-bot opened #53 "[Merge]: Moved blog post to Feb 6th"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8fa112eeba9f9ecb12189ab8520d446537e4e25f

[2019-02-06 20:09] reactjs-translation-bot opened #54 "[Merge]: Document test renderer act (temporary fix)"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d20be53455461d561ff820947e9da250fd3666c9

[2019-02-06 20:09] reactjs-translation-bot opened #55 "[Merge]: Udpated changelog"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ee909e5a675babde98711197699402befc043ff4

[2019-02-06 20:09] reactjs-translation-bot opened #56 "[Merge]: Merge branch 'hooks-stable' of https://github.com/gaearon/reactjs.org…"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/7d897624077dc33cf1040e7c2b33a5d2db095684

[2019-02-06 20:09] reactjs-translation-bot opened #57 "[Merge]: Update version number in header and versions page"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/98c1ebeff3ef169d498eb18c91d451d81e617815

[2019-02-06 20:09] reactjs-translation-bot opened #58 "[Merge]: Merge pull request #1629 from bvaughn/hooks-stable"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d468ba1c6ee86f25d7a11a74623801823b2ec318

[2019-02-06 20:09] reactjs-translation-bot opened #59 "[Merge]: Replaced inaccurate comments"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a0db3e7f1753a33b64e6d9ea52ed9d1b1b8f2887

[2019-02-06 20:09] reactjs-translation-bot opened #60 "[Merge]: Added ReactTestUtils.act() to CHANGELOG"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8cae0666577b3ce157a948f024017a51c71c5817

[2019-02-06 20:09] reactjs-translation-bot opened #61 "[Merge]: Use 16.8.1"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8eaa70139f0c1201b4ef9cbf84a94b06eff8f79a

[2019-02-06 20:09] reactjs-translation-bot opened #62 "[Merge]: react-testing-library now supports `act`"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f846c4da1b8bd1904c8f862fb2139ddd24450ea5

[2019-02-06 20:09] reactjs-translation-bot opened #63 "[Merge]: React Native will ship hooks in its 0.59 release."
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/9f4b4a92a007051f7443b960807aab5a8298495b

[2019-02-06 20:09] reactjs-translation-bot opened #64 "[Merge]: Merge branch 'update-version-number' of https://github.com/nikhilem/r…"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/845bd4ac04a14c6fd1e9997fd2876d9ffab269f9

[2019-02-06 20:09] reactjs-translation-bot opened #65 "[Merge]: tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d97cdcac7f3166c753928beb88209f1face6ac01

[2019-02-06 20:09] reactjs-translation-bot opened #66 "[Merge]: Merge pull request #1632 from rafaelcg/patch-1"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e833dfd164f6b9c886ccd805d5b48b83a98abc8a

[2019-02-06 20:09] reactjs-translation-bot opened #67 "[Merge]: Added link to 16.7 docs"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/af11b29c18c2ca2a81096c30d6f254ab0061e23e

[2019-02-06 20:09] reactjs-translation-bot opened #68 "[Merge]: Fix typo on hooks availability"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/be56e22bf62bd33edb0d4962ba7b08323f60e801

[2019-02-06 20:24] reactjs-translation-bot opened #70 "[Merge]: Merge branch 'nikhilem-update-version-number'"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/2a5b6cc10343c6694e534b0cf11c14f4aea6fff5

[2019-02-06 20:26] #67 closed

[2019-02-06 20:27] #57 closed

[2019-02-06 20:27] #68 closed

[2019-02-06 20:30] #61 closed

[2019-02-06 21:32] reactjs-translation-bot opened #74 "[Merge]: Implement custom-id syntax on headings"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e74a555db72ce3400225fbcbfc7159767730cef8

[2019-02-06 21:32] reactjs-translation-bot opened #75 "[Merge]: Port external gatsby-remark-autolink-headers plugin"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/add50079b1c042692ee5c55b72de72ab48ef6a2b

[2019-02-06 21:32] reactjs-translation-bot opened #76 "[Merge]: Merge pull request #1636 from smikitky/remark-autolink-custom-id"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/98c1d22fbef2638cafb03b07e0eabe2a6186fca8

[2019-02-06 21:32] reactjs-translation-bot opened #77 "[Merge]: Replace keys when inserting style/script tags"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/16515ce4b903a3030ff852fdbe1ab3eb88c54c08

[2019-02-06 21:57] #45 closed

[2019-02-06 21:57] #46 closed

[2019-02-06 21:57] #47 closed

[2019-02-06 21:57] #48 closed

[2019-02-06 21:57] #49 closed

[2019-02-06 21:57] #50 closed

[2019-02-06 21:57] #51 closed

[2019-02-06 21:57] #52 closed

[2019-02-06 21:57] #53 closed

[2019-02-06 21:57] #54 closed

[2019-02-06 21:57] #55 closed

[2019-02-06 21:57] #56 closed

[2019-02-06 21:57] #58 closed

[2019-02-06 21:57] #59 closed

[2019-02-06 21:57] #60 closed

[2019-02-06 21:57] #62 closed

[2019-02-06 21:57] #63 closed

[2019-02-06 21:57] #64 closed

[2019-02-06 21:57] #65 closed

[2019-02-06 21:57] #66 closed

[2019-02-06 21:57] #70 closed

[2019-02-06 21:57] #74 closed

[2019-02-06 21:57] #75 closed

[2019-02-06 21:57] #76 closed

[2019-02-06 21:57] #77 closed

[2019-02-06 21:57] #42 closed

[2019-02-06 21:57] #43 closed

[2019-02-06 21:57] #44 closed

[2019-02-07 05:09] keyz commented on #2
@robertying 在 [Thinking in React](https://reactjs.org/docs/thinking-in-react.html#start-with-a-mock) 中的 mock 建议翻译成「设计稿」。在日常工作中，mock 一般指 designer 产出的可转化生产的 UI。这个场景中并没有「原型」或「模拟」的意思。

[2019-02-07 09:23] QC-L commented on #2
@keyz 好的，我来修改下~

[2019-02-08 07:27] Ryanhui commented on #4
I will translate `Handling Events`

[2019-02-10 21:26] zhangxd6 commented on #4
I would like to try the form if it is not taken

[2019-02-11 02:38] BetaMee commented on #4
| Title | Processing | Status |
|---|---|---|
|Context| @BetaMee | Translating |

[2019-02-11 03:50] Ryanhui commented on #4
| Title      | Pocessing     | Status     |
| :------------- | :----------: | -----------: |
| API Reference/JS Environment Requirements | @Ryanhui    | Translating    |

[2019-02-12 02:01] Ryanhui commented on #4
|Title|Pocessing|Status|
|--------|:-------------:|------:|
|API Reference/Shallow Renderer| @Ryanhui |Translating|

[2019-02-12 06:03] baxtergu commented on #4
* Application Status: Waiting for approve from @QC-L

| Title | Processing | Status |
| - | - | - |
| API Reference / React | @baxtergu | Translating |
| API Reference / React.Component | @baxtergu | Translating |

[2019-02-12 08:32] Ryanhui commented on #4
|Title|Processing|Status|
|-----|-----|----|
|API Reference / ReactDOM|@Ryanhui|Translating|

[2019-02-13 02:23] yuqingc commented on #2
context 中的 consuming component 中的 consume 怎么翻译比较好？

[2019-02-13 02:36] laozhu commented on #4
|                     Title                       | Processing |     Status     |
|                      :---:                      |      :---:        |      :---:       |
| Installation /  Getting Started  |   @laozhu   | Translating |

[2019-02-13 03:04] hijiangtao commented on #2
@yuqingc 这里为动词，我认为可以直译「消费」。另 react 中还存在 Provider 和 Consumer 两个特性，建议加入 glossary 规范？@QC-L

[2019-02-13 03:32] QC-L commented on #2
@hijiangtao Provider 和  Consumer 不翻译了吧？

[2019-02-13 05:16] hijiangtao commented on #2
我倾向于不翻译 Provider 和 Consumer，可以加入 glossary 不需翻译的内容。

[2019-02-13 12:06] lixiaoyang1992 commented on #4
|                     Title                       | Processing |     Status     |
|                      :---:                      |      :---:        |      :---:       |
|Hooks /  Introducing Hooks|   @lixiaoyang1992   | Translating |

[2019-02-13 16:01] zbc commented on #4
| Title        | Processing           | Status  |
| :-------------: |:-------------:| :-----:|
|  API Reference / DOM Elements   | @zbc | Translating |

[2019-02-14 00:42] ChloeLiang commented on #4
I would like to translate Test Renderer.

[2019-02-14 08:58] tesseralis commented on #4
Could one of the maintainers mark which pages have pull requests for them? e.g.

* [ ] Tutorial (@yuqingc) #12

[2019-02-14 10:19] QC-L commented on #4
@tesseralis OK, I modifying it.

[2019-02-14 10:42] Ryanhui commented on #4
|Title|Processing|Status|
|----|----|----|
|API Reference / SyntheticEvent| @Ryanhui | Translating |

[2019-02-15 00:11] haimengzhang commented on #4
I can take React.Component if no one is

[2019-02-15 02:20] bailnl commented on #4
I can take **Building Your Own Hooks**, if no one is

[2019-02-15 02:30] pampang commented on #4
I would like to take **API Reference / ReactDOMServer**, if it is not taken.

[2019-02-15 06:23] yesmeck commented on #4
I'd like to take **Hooks / Hooks at a Glance**.

[2019-02-15 06:32] chenshuai2144 commented on #4
I'd like to take  **Render Props** and **Static Type Checking**

[2019-02-15 06:35] ycjcl868 commented on #4
I'd link to take __Static Type Checking__ and __Typechecking With PropTypes__

[2019-02-15 07:33] baxtergu commented on #2
deprecated需要一个统一的翻译

[2019-02-15 11:40] seognil commented on #4
| Title | Processing | Status |
| :------: | :------: | :------: |
| Installation / Add React to a Website | @seognil | Translating |
| Installation / Create a New React App | @seognil | Translating |

[2019-02-15 12:01] QC-L commented on #2
@baxtergu 在哪篇文章，哪段？能不能给个上下文

[2019-02-15 14:06] baxtergu commented on #2
我在 `content/docs/reference-react.md` 里面 191 行里遇到的，我搜了一下，在很多跟 API 有关的部分都有。

![image](https://user-images.githubusercontent.com/2825625/52861559-d9fddc80-316d-11e9-912a-a46d7447fd55.png)

我觉得翻译的时候有必要统一一下

[2019-02-15 14:10] hijiangtao opened #98 "[READ ONLY] Translation Check Sheet"
Following tables is a summarization and check sheet of current translation work, you can locate the part that you are interested in and then claim your participation [here](https://github.com/reactjs/zh-hans.reactjs.org/issues/4). This is a **READ-ONLY** issue.

The progress for each article can be divided into four parts: translating, review, re-review and merged. You can also find corresponding

[2019-02-16 03:10] QC-L commented on #2
@baxtergu 废弃

[2019-02-16 05:49] hijiangtao commented on #4
Thanks for all of your enthusiastic participation in React Simplified Chinese Documents, and let's follow current guidance (given in the beginning by @QC-L) - **Take only one page at a time**, to make the translation progress more consistent and organized.

You can claim again after a PR is raised for your current translation. Currently, we regard the first article in each comment as your current

[2019-02-16 06:30] Crazydogs commented on #4
I'd like to take **Using the Effect Hook** and **Rules of Hooks**

| Title   |      Processing      |  Status |
|----------|:-------------:|------:|
| Hooks/ Using the Effect Hook |  @Crazydogs | Translating |
| Hooks/  Rules of Hooks |  @Crazydogs | Translating |

[2019-02-16 06:59] Yuiham commented on #4
I'd like to take **Hooks API Reference**

| Title | Processing | Status |
| --- | --- | --- |
| Hooks/ Hooks API Reference | @Yuiham | Translating |

[2019-02-16 07:07] tonghuashuo commented on #4
I'd like to take **Hooks/Hooks FAQ**

| Title | Processing | Status |
|-|-|-|
| Hooks/Hooks FAQ | @tonghuashuo | Translating |

[2019-02-16 07:50] zombieJ commented on #4
volunteer for **Using the Effect Hook**

[2019-02-16 11:22] dear-lizhihua commented on #4
I'd like to take **Glossary of React Terms**
https://reactjs.org/docs/glossary.html

[2019-02-16 15:15] seognil commented on #4
| Title | Processing | Status |
| :------: | :------: | :------: |
| warnings/invalid-aria-prop | @seognil | Translating  |
| warnings/legacy-factories | @seognil | Translating  |
| warnings/special-props | @seognil | Translating  |

I'd use permalink from `.md` for warning section instead
(these three are shortest LOL

[2019-02-16 15:35] chenshuai2144 commented on #2
`Cross-Cutting Concerns ` 这个应该怎么翻译，感觉是个专有的名词，但是却不好理解

[2019-02-16 15:56] seognil commented on #2
@chenshuai2144
横切关注点
https://en.wikipedia.org/wiki/Cross-cutting_concern

[2019-02-17 03:08] ycjcl868 commented on #2
PropTypes 也不需要翻译吧

[2019-02-17 07:18] ycjcl868 commented on #2
warning 需要统一下

[2019-02-17 07:22] yhsunshining commented on #4
could I take **Advanced Guides/Forwarding Refs**?

|  Title|Processing|status|
|---|---|---|
| Advanced Guides/Forwarding Refs | @yhsunshining |　Translating|

[2019-02-17 09:42] QC-L commented on #2
@ycjcl868 警告？
PropTypes 已添加

[2019-02-17 09:44] QC-L commented on #2
@chenshuai2144 横切关注点（Cross-Cutting Concerns） 这样翻译吧，加上英文

[2019-02-17 14:35] dear-lizhihua commented on #2
section, previous section, next section, current
这种也会有不一致的，比如说：前一章节、前面章节、上一章节、上节、这节、当前章节，很灵活了

[2019-02-17 15:50] seognil commented on #4
| Title | Processing | Status |
| :------: | :------: | :------: |
| warnings/dont-call-proptypes | @seognil | #115 |
| warnings/invalid-hook-call-warning | @seognil | Translating |
| warnings/refs-must-have-owner | @seognil | Translating |
| warnings/unknown-prop | @seognil | #111 |

[2019-02-18 01:45] LCINA commented on #4
I'd like to take **Error Boundaries**
Title | Processing | Status
------------ | ------------- | -------------
Error Boundaries | LCINA | Translating

[2019-02-18 03:48] JIACHENG9 commented on #4
Title | Processing | Status
------------ | ------------- | -------------
JSX In Depth | @JIACHENG9 | Translating

[2019-02-18 04:00] JIACHENG9 commented on #4
Title | Processing | Status
------------ | ------------- | -------------
React Without JSX | @JIACHENG9 | Translating

[2019-02-18 11:23] tli4 commented on #4
Title | Processing | Status
------------ | ------------- | -------------
Advanced Guides / Uncontrolled Components | @tli4  | Translating

[2019-02-18 11:32] baxtergu commented on #2
Promise、polyfill 是否也加入不用翻译的内容？reference-react.md 中包含这两个词

[2019-02-18 11:39] summccc commented on #4
I'd like to take **Accessibility** please.

[2019-02-18 12:46] sang4lv commented on #4
| Title |	Processing | 	Status |
| Reconciliation | @sang4lv |	Translating |

[2019-02-18 13:18] bailnl commented on #4
I'd like to take **Reconciliation** ， if no one is.

[2019-02-19 19:47] zbc commented on #4
|Title|Processing |	Status
|:----:|:----:|:----:|
|Portals	|@zbc|	Translating

[2019-02-20 01:57] sang4lv commented on #4
I'll take HOC and Portals

| Title |	Processing | 	Status |
| - | - | - |
| Higher-Order Components | @sang4lv |	Translating |
| Portals | @sang4lv |	Translating |

[2019-02-20 02:05] pampang commented on #4
I would like to take **Refs and the DOM**, if it is not taken.

[2019-02-20 03:12] seognil opened #126 "[debate] 'React JSX transform uses the upper case ...' translation"
原文：`/warnings/unknown-prop.html` 16 行

该句子附带的链接：`/docs/jsx-in-depth.html#user-defined-components-must-be-capitalized` 96 行

---

从英语的语法结构上来看，
`transform` 可能是个名词，`uses` 是动词，
那么 `transform` 可能表示为：
「转换、转换器、转换引擎」
链接部分的原意也提到了「results in / compile to」和转换有关的意思。
（不知道 React 源码是怎么处理的……）

如果将 `transform` 视为动词，则可以表示为：
「转换（使用）、交替、切换、依次」
而 `use` 可以解释为：
「使用、根据」

https://github.com/reactjs/zh-hans.reactjs.org/pul

[2019-02-20 04:49] QC-L commented on #2
@baxtergu 已添加

[2019-02-21 02:32] zhaozhiming commented on #4
I would like to take **React Without ES6**, if it is not taken.

[2019-02-22 03:06] postor commented on #4
I'll take  **Integrating with Other Libraries**

<table>
<thead>
<tr>
<th>Title</th>
<th>Processing</th>
<th>Status</th>
</tr>
</thead>
<tbody>
<tr>
<td>Integrating with Other Libraries</td>
<td>
@postor
</td>
<td>Translating</td>
</tr>
</tbody>
</table>

[2019-02-24 02:50] Fonkie commented on #4
I'll take **Strict Mode**

Title | Processing | Status
---|:--:|---:
Strict Mode | @Fonkie | Translating

[2019-02-24 03:01] hijiangtao commented on #126
嗯，个人倾向于前者「`transform` 可能是个名词」，以你最新的 commit 为准吧。

[2019-02-24 03:05] hijiangtao commented on #126
#111 Approved.

To be merged and closed.

[2019-02-24 03:05] #126 closed

[2019-02-24 04:10] bailnl commented on #2
Web Components 不需要翻译吧。

[2019-02-25 02:33] MrPluto commented on #2
Try it on CodePen 是否需要翻译？

[2019-02-25 03:11] QC-L commented on #2
@MrPluto 翻译，在 CodePen 上尝试

[2019-02-25 03:48] nanaSun commented on #4
I'll take *** Codebase Overview**

|Title	|Processing	|Status
:--:|:--:|:--:
 Codebase  Overview	|@nanaSun| Translating

[2019-02-25 05:13] hateonion commented on #4
|Title|Processing|Status|
|----|----|----|
|AJAX and APIs|@hateonion|Translating|

[2019-02-25 05:50] QC-L commented on #4
I'll take ** Babel, JSX, and Build Steps **

|Title	|Processing	|Status|
|:--:|:--:|:--: |
|Babel, JSX, and Build Step	| @QC-L | Translating|

[2019-02-25 08:34] bbbbx commented on #4
I volunteer to translate:

| Title | Processing | Status |
|:-----|:-----------|:-------|
| Component State | @bbbbx | Translating |

[2019-02-25 08:41] infinnie commented on #2
class 翻译成类吧…

[2019-02-25 08:44] infinnie commented on #2
BTW render props 怎么翻译

[2019-02-25 09:06] infinnie commented on #4
I take:
---
id: faq-styling
title: Styling and CSS
permalink: docs/faq-styling.html
layout: docs
category: FAQ
---

[2019-02-25 09:13] sichenguo commented on #4
could I take **FAQ/Passing Functions to Components**?

| Title | Processing |status
| ------ | ------ | ------ |
 |Passing Functions to Components	|@sichenguo	　|Translating

[2019-02-25 09:27] buffaybu commented on #4
I'd like to take **Versioning Policy**.

| Title  | Processing | Status |
| --- | --- | --- |
| Versioning Policy  | @buffaybu  | Translating

[2019-02-25 15:46] ChiuMungZitAlexander commented on #4
Looks like there're only a few left. So how about I take **Virtual DOM and Internals**?

| **Title** | **Processing** | **Status** |
| ------ | ------ | ------ |
| Virtual DOM and Internals | @ChiuMungZitAlexander| Translating |

[2019-02-26 03:00] baxtergu commented on #4
| Title | Processing | Status |
| - | - | - |
| FAQ/ File Structure| @baxtergu | Translating  |

[2019-02-26 06:10] ChiuMungZitAlexander commented on #2
React Fiber, translate it or not?

[2019-02-26 07:19] QC-L commented on #2
@ChiuMungZitAlexander I don't think so.

[2019-02-26 07:21] QC-L commented on #2
@infinnie 特殊情况下翻译，其他情况下都不翻译。

[2019-02-26 07:26] tanghejun commented on #4
| Title        | Processing          | Status  |
| ------------- |:-------------:| -----:|
|  Contributing/Design Principles | @tanghejun | Translating |

[2019-02-26 07:30] thoamsy commented on #2
`Legacy API` 翻译成 **过时 API** 和 **deprecated** 区分下？

[2019-02-26 08:31] CoolRice commented on #4
Title	Processing	Status
Components/ErrorDecoder	@CoolRice	Translating

[2019-02-26 08:49] musclejack opened #142 "|Title | Processing | Status|"
|Title                                       | Processing | Status|
|---------------------------|-------------|-----------|
|React.Component | @musclejack | Translating|

[2019-02-26 08:50] #142 closed

[2019-02-26 08:53] musclejack commented on #4
|Title|Processing|Status|
 |:----:|:----|----:|
 |React.Component|@musclejack|Translating|

[2019-02-26 09:22] zcfan commented on #4
I'll work on "Hooks state" since @Koopos is inactive.

Title|Processing|Status
----|----|----
Hooks/ Using the State Hook|@zcfan|Translating

[2019-02-26 09:50] QC-L commented on #4
@zcfan NO, you can review this PR #16

[2019-02-27 08:40] jimczj commented on #4
| Title |	Processing |	Status
|---------- |--------- |---------- |
| Contributing/ How to Contribute | @jimczj | Translating

[2019-02-27 13:29] nanaSun commented on #4
I'll take **Implementation Notes**
|Title	|Processing	|Status
:--:|:--:|:--:
Implementation Notes | @nanaSun | Translating

[2019-02-28 01:02] Runbo94 commented on #4
你翻译多少了。。。我翻译到 Updating{#updating}了

[2019-02-28 01:35] QC-L commented on #4
@Runbo94 下次请领取任务之后再提交内容，谢谢合作😝

[2019-02-28 01:50] Jokcy commented on #2
@QC-L higher-order-component是否也不需要翻译，或者高阶组件？

[2019-02-28 02:10] QC-L commented on #2
@thoamsy 嗯，可以讨论下。

[2019-02-28 02:10] QC-L commented on #2
@thoamsy 嗯，可以讨论下。

[2019-02-28 02:10] QC-L commented on #2
@Jokcy 高阶组件

[2019-02-28 03:22] Jokcy commented on #2
@QC-L 缩写HOC是否也一并翻译呢？

[2019-02-28 06:01] QC-L commented on #2
@Jokcy 翻译，然后带上缩写 `高阶组件（HOC）`

[2019-02-28 13:02] zcfan commented on #4
Title | Processing | Status
--|--|--
CodeEditor | @zcfan | Translating

[2019-02-28 13:38] zcfan commented on #4
Title | Processing | Status
--|--|--
CodeExample | @zcfan | Translating

[2019-02-28 15:08] Jokcy commented on #2
@QC-L 把`HOC`翻译成`高阶组件（HOC）`在`higher-order-component.md`中貌似不怎么好，因为出现频率太高来，比如会变成这个样子：

我建议

1. 直接翻译成高阶组件
2. 在最开始说明`higher-order-compoent`是高阶组件的地方注释（之后简称HOC），然后后面不翻译

[2019-02-28 15:58] QC-L commented on #2
@Jokcy 那 HOC 的地方就不翻译了，在文中第一个出现 HOC 的地方，加译注。

[2019-03-01 01:36] Jokcy commented on #2
@QC-L 好的

[2019-03-04 10:31] YaokaiYang-assaultmaster commented on #4
Hey there, looks like all the parts have been taken. Are there any sections I can help about? Please let me know and I am definitely willing to help. @QC-L

[2019-03-04 11:32] QC-L commented on #4
@YaokaiYang-assaultmaster That's great. You can review the translated articles.

[2019-03-04 14:12] hstarorg commented on #4
| Title | Processing | Status |
|---|---|---|
|  jsx-in-depth | @hstarorg  | Translating  |

[2019-03-07 11:16] hstarorg opened #160 "嗷嗷不好意思 我估计看错啦~"
嗷嗷不好意思  我估计看错啦~

_Originally posted by @YaokaiYang-assaultmaster in https://github.com/reactjs/zh-hans.reactjs.org/pull/158#issuecomment-470413151_

需要在changed里面看后续的改动。再次感谢，您的翻译更生动。

[2019-03-07 11:16] #160 closed

[2019-03-07 11:16] hstarorg commented on #160
抱歉，操作失误。

[2019-03-08 15:52] maicss commented on #4
hi，你翻译多少啦？

[2019-03-09 02:47] QC-L commented on #4
@maicss

[2019-03-09 23:32] tesseralis opened #161 "Simplified Chinese Translation Final Tasks"
Congrats! We're almost done translating the React docs to Simplified Chinese!

A couple more things to do before we can mark this translation as complete:

* [x] Replace "reactjs.org" to "zh-hans.reactjs.org" in the following places:
  * [x] package.json
  * [x] site-constants.js
  * [x] gatsby-config.js
  * [x] MarkdownPage (the link href in "Edit this page")
* [x] Change `html.js` to have the at

[2019-03-10 13:41] QC-L commented on #161
@tesseralis OK, I'll finish it.

[2019-03-11 10:07] QC-L commented on #2
@thoamsy 已经区分了，查看下

[2019-03-13 03:19] buuug7 opened #166 "别为了翻译而翻译，请不要啰嗦，请不要学院派，这不是制造火箭"
别为了翻译而翻译，请不要啰嗦，不要学院派，这不是制造火箭，快速行动，在逐步改善，中文文档居然还在翻译当中，这谁把的关？44个PR都已经等待多时了。咬文嚼字请别用错方向，React在快速迭代中，文档要与时俱进，你扣字眼只会导致进度完全被拉下来，按照目前该仓库的PR的审核速度，被React甩的会越来越远。

请遵守KISS，而贡献者由于考虑诸多不必要的事情，繁琐，繁琐，繁琐，导致很多人失去贡献的兴趣。

我要说的请保持快速行动，别再锯纸削。把一个事情搞复杂是一件简单的事，但要把一个复杂的事变简单，这是一件复杂的事。

[2019-03-13 03:33] #166 closed

[2019-03-13 03:35] dear-lizhihua commented on #166
没人欠你的

[2019-03-13 03:48] QC-L commented on #166
如果需要看完整的，可以先去看 https://react.docschina.org。
此次翻译我会保证质量。如果你想参与，非常欢迎。但如果你只是说说，那还请耐心等待。

[2019-03-13 05:16] cyan33 commented on #166
Hi @buuug7, while I understand your concern and it's true that the progress of translation hasn't been going very quickly, we should also be aware that the reviewers of this repo are volunteering/sacrificing their own time after work to contribute to the community. By that, I think we all should be grateful for all the work that has been done so far. Toxic words should **never** go into this commu

[2019-03-13 22:52] CalElFe commented on #4
Hi, can I take any of blog pages? It seems like all the "Primary" tasks are already taken.

[2019-03-14 01:55] QC-L commented on #4
@CalElFe Yeah, that's awesome. I'll add blog related content. You can try.

[2019-03-14 03:23] maicss commented on #4
@QC-L 我想问一下，如果英文的文档更新了，那到时候怎么记录差异，然后更新中文文档呢？

[2019-03-14 03:27] maicss commented on #4
|Titel|Processing|Status|
|:--|:--|:--|
|blog/You Probably Don't Need Derived State|@maicss|Translating|
|blog/Introducing Hooks|@maicss|Translating|

[2019-03-14 05:54] QC-L commented on #4
@maicss 差异问题，我会解决。

[2019-03-15 09:52] penghk commented on #4
I'd like to claim the blog "2019-02-23-is-react-translated-yet" if it is not taken yet.

[2019-03-15 10:49] JiyuShao commented on #4
Can I take the "2019-02-06-react-v16.8.0" page?

Title | Processing | Status
-- | -- | --
2019-02-06-react-v16.8.0 | @JiyuShao | Translating

[2019-03-16 03:18] ghycy15 commented on #4
Can I take "2018-11-27-react-16-roadmap"?

[2019-03-16 04:02] ghycy15 commented on #4
@summccc I have used Accessibility features recently. I can help if you are facing any difficulties.

[2019-03-16 05:31] hstarorg commented on #4
| Title | Processing | Status |
| --- | --- | --- |
| blog/2018-10-01-create-react-app-v2.md | @hstarorg | Translating |

[2019-03-16 05:34] CalElFe commented on #4
Can I take "2013-08-19-use-react-and-jsx-in-python-applications"?

| **Title**| **Processing**|**Status**|
|-----------|----------------|--------------|
|2013-08-19-use-react-and-jsx-in-python-applications| @CalElFe |Translating|

[2019-03-17 07:05] ghycy15 commented on #4
Can I also take Accessibility? I have a lot passion in that topic~
| Title |Processing| Status |
| Accessibility |@ghycy15 |Translating |

[2019-03-19 10:06] lvdingjin commented on #4
Pleasure to translate the rest of "Using the Effect Hook", if it is ok.

[2019-03-19 13:20] QC-L commented on #4
@lvdingjin You can review #123, it has been translated

[2019-03-20 07:45] Cygra commented on #4
| Title | Processing | Status
| --- | --- | ---|
| Hooks API Reference | @Cygra | Translating |

[2019-03-20 07:48] QC-L commented on #4
@Cygra Already someone is translating.

[2019-03-20 08:16] Cygra commented on #4
ooops

[2019-03-20 23:28] tesseralis commented on #4
恭喜!

<img width="362" alt="Screen Shot 2019-03-20 at 12 46 06 PM" src="https://user-images.githubusercontent.com/1278991/54725679-38cbc280-4b2d-11e9-867b-b29c94304001.png">

[2019-03-21 17:46] ghycy15 commented on #4
Title | Processing | Status
-- | -- | --
Accessibility | @ghycy15 | 175

[2019-03-23 00:16] ghycy15 commented on #4
Is there any plan to translate react native? https://facebook.github.io/react-native/

[2019-03-24 06:28] laobeijing0806 commented on #4
Title | Processing | Status
-- | -- | --
blog/2013-06-05-why-react | @laobeijing0806 | Translating

[2019-03-25 03:08] QC-L commented on #4
@ghycy15 I think the priority now should be to keep React well.

[2019-03-26 06:34] jimczj commented on #2
pull request 直接用 PR 代替可以吗，还是翻译成“拉取请求”？

[2019-03-26 06:46] QC-L commented on #2
@jimczj 直接用 PR

[2019-03-26 07:35] robertying commented on #2
@jimczj 不翻译，用 pull request 呢？感觉缩写成 pr 也没必要。

[2019-03-27 08:26] hstarorg commented on #4
| Title | Processing | Status |
|---|---|---|
| docs/legacy-context.md | @hstarorg  | Translating |

[2019-03-28 10:07] manglobe commented on #4
|Title|Processing|Status|
|---|---|---|
|blog/2018-11-13-react-conf-recap| @manglobe | Translating

[2019-03-30 08:53] xesam opened #185 "有个错别字"
文件：[https://github.com/reactjs/zh-hans.reactjs.org/blob/master/content/docs/context.md ](https://github.com/reactjs/zh-hans.reactjs.org/blob/master/content/docs/context.md#api-api )

![微信图片_20190330165123](https://user-images.githubusercontent.com/1892804/55273893-4db60c00-530c-11e9-80ed-2bef34e88721.png)

[2019-03-30 12:28] QC-L commented on #185
THX！已更正

[2019-03-30 12:29] #185 closed

[2019-04-01 07:08] aximario opened #187 "翻译建议"
高级指引 -> 深入 JSX -> ”属性扩散“ 翻译为 “属性展开“ 应该会更容易理解一些
[https://zh-hans.reactjs.org/docs/jsx-in-depth.html](深入 JSX)

[2019-04-01 07:13] QC-L commented on #187
我看下，稍等

[2019-04-01 07:59] QC-L commented on #187
@aximario 已修复，查看 #188

[2019-04-01 08:00] #187 closed

[2019-04-02 01:56] manglobe commented on #4
|Title|Processing|Status|
|---|---|---|
|blog/2018-10-23-react-v-16-6| @manglobe | Translating

[2019-04-22 09:16] zcfan commented on #2
@tesseralis reuse 出现了两次，我看到有权限编辑，直接改了

[2019-04-23 06:14] Fonkie commented on #4
Title | Processing | Status
-- | -- | --
blog/2018-09-10-introducing-the-react-profiler | @Fonkie  | Translating

[2019-05-03 01:16] rdai10 commented on #4
I would like to help translate blog/2018-12-19-react-v-16-7 if no one has started on it.

[2019-05-18 11:56] amnsss commented on #4
I would like to help translate blog/2018-03-27-update-on-async-rendering if no one has started on it.

Title | Processing | Status
-- | -- | --
 blog/2018-03-27-update-on-async-rendering | @amnsss | Translating

[2019-05-22 06:26] ghycy15 commented on #4
Title | Processing | Status
-- | -- | --
blog/2018-11-27-react-16-roadmap | @ghycy15 | #234

[2019-06-25 21:15] saranshkataria opened #256 "link within "HOC" page is not found"
Copying issue from reactjs/reactjs.org#2082

In [HOC page](https://zh-hans.reactjs.org/docs/higher-order-components.html), the link **[阅读更多 关于我们为什么要抛弃 mixins](https://zh-hans.reactjs.org/blog/2016/07/13/mixins-consideration-hazardous.html)** will lead to a "404" page.

May need to change the link to point this English version:  https://reactjs.org/blog/2016/07/13/mixins-considered-harmful.html   ,

[2019-06-27 04:03] lexiaoau commented on #256
In title, it is "link", not "ink".

[2019-06-27 04:05] lexiaoau opened #258 "Need reword in Hook 概览"
React 会在组件销毁或者后续渲染重新执行副作用函数时取消对 ChatAPI 的订阅。

should be:

React 会在组件销毁或者后续渲染**时**重新执行副作用函数取消对 ChatAPI 的订阅。

[2019-06-27 19:30] saranshkataria commented on #256
fixed, thanks

[2019-06-28 02:13] QC-L commented on #256
@saranshkataria thanks，I'll fix it.

[2019-06-29 07:43] QC-L commented on #256
DONE! @saranshkataria [commit](https://github.com/reactjs/zh-hans.reactjs.org/commit/15aab79e24058334be75b6862aec3d2d63627ccb)

[2019-06-29 07:46] #256 closed

[2019-06-30 07:53] laishiwen opened #259 "Modify zh-hans.reactjs.org/content/docs/hooks-state.md Line 247 of the content api name"
#### Administrator, please ```'useSatate'``` replace ```'useState'```

[2019-06-30 07:53] laishiwen commented on #259
![微信图片_20190630154802](https://user-images.githubusercontent.com/17078631/60393922-3b3bb080-9b4f-11e9-8d43-f8ffa3988fcd.png)

[2019-06-30 09:28] QC-L commented on #259
@laishiwen I'll fix it. THX!

[2019-06-30 09:31] QC-L commented on #259
Fied! [commit](https://github.com/reactjs/zh-hans.reactjs.org/commit/7e499ec1eab94b32d9a0bcea75ba7e5d51cf330d)

[2019-06-30 09:31] #259 closed

[2019-06-30 09:35] QC-L commented on #258
@lexiaoau fixed it. [commit](https://github.com/reactjs/zh-hans.reactjs.org/commit/194577ecdb536467a6a40963ab81b8132768252c)

[2019-06-30 09:35] #258 closed

[2019-06-30 09:35] laishiwen commented on #259
give the thumbs-up!

------------------ 原始邮件 ------------------
发件人: "QiChang Li"<notifications@github.com>;
发送时间: 2019年6月30日(星期天) 下午5:31
收件人: "reactjs/zh-hans.reactjs.org"<zh-hans.reactjs.org@noreply.github.com>;
抄送: "Sven"<467158536@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [reactjs/zh-hans.reactjs.org] Modifyzh-hans.reactjs.org/content/docs/hooks-state.md Line 247 of the content ap

[2019-07-09 00:33] xp44mm opened #266 "建议中文文章在末尾增加对英文文章的链接"
建议翻译的中文文章在末尾保持对原文的引用，就是对英文`.md`的引用。以利于复查。

[2019-07-09 03:47] yuqingc commented on #266
意思是加个原文链接？

[2019-07-09 06:23] QC-L commented on #266
老哥，加个群，群里沟通行吗？

[2019-07-15 22:00] jialin-wu-02 commented on #4
Start woking on the translation of blog/2016-09-28-our-first-50000-stars. Tbh it's quite a exciting one lolol.

[2019-07-29 02:46] #266 closed

[2019-08-17 02:46] shanlanCoding opened #292 "The "Arrow Function" link 404 in the article is invalid. 文章内的“箭头函数”链接404失效了"
The "Arrow Function" link 404 in the article is invalid.

The correct arrow function link should be: https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Functions/Arrow_functions.

------------

文章内的“箭头函数”链接404失效了，原文：

正确的箭头函数链接应该为：https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Functions/Arrow_functions

[2019-08-18 02:44] QC-L commented on #292
THX! 我修正一下

[2019-08-18 07:44] QC-L commented on #292
fix in #293

[2019-08-18 07:44] #292 closed

[2019-08-22 07:10] matrixqc commented on #4
advanced guides -> [profiler API](https://zh-hans.reactjs.org/docs/profiler.html) is not in catalog.

[2019-08-23 06:08] QC-L commented on #4
@matrixqc you can do it

[2019-08-23 12:20] matrixqc commented on #4
Title | Processing |  Status
-|-|-
Advanced Guides/Profiler API | @matrixqc  | Translating |

[2019-09-06 12:37] zhangenming opened #306 "发现一个渲染文档bug"
https://zh-hans.reactjs.org/docs/render-props.html
译文
![image](https://user-images.githubusercontent.com/21235555/64428198-be482c80-d0e5-11e9-998d-470d2c752605.png)
原文是
![image](https://user-images.githubusercontent.com/21235555/64428347-1848f200-d0e6-11e9-93d5-c4abca9c3afc.png)

但中文渲染成了
![image](https://user-images.githubusercontent.com/21235555/64428318-0404f500-d0e6-11e9-8394-d103f439319c.png)

[2019-09-07 16:41] yuqingc commented on #306
谢谢指出，应该是遗漏了 反引号

[2019-09-07 16:52] yuqingc commented on #306
Fixed by #307, waiting to be merged.

[2019-09-08 05:32] QC-L commented on #306
THX!

[2019-09-08 05:32] #306 closed

[2019-10-30 02:11] Rattlingshinuiba commented on #4
I'd like to claim the `How to Contribute` part if it is not taken yet.

[2019-10-30 02:36] QC-L commented on #4
@Rattlingshinuiba That article has been translated.

[2019-11-02 08:24] MuYunyun opened #326 "QR CODE has been invalid in the Readme.md"
QR CODE has been invalid in the readme.md, how can I enter the React Chinese group~

[2019-11-03 03:53] QC-L commented on #326
添加印记中文小助手（docschina-bot），添加成功后，回复 react 即可

[2019-11-03 03:53] #326 closed

[2019-11-08 16:01] Rattlingshinuiba commented on #4
@QC-L 谢谢提醒！对不起这几天没好好关注动态，不过我目前无论从中文官网上还是从中文库上，都没发现我所提及文章的中文版本，之后我搜了下 issue，发现了一个 closed 的同名文章 issue，麻烦你百忙中请核对一下。

[2019-11-09 06:29] QC-L commented on #4
@Rattlingshinuiba okey

[2019-11-16 02:24] zcfan commented on #4
is 2017-12-15-improving-the-repository-infrastructure taken?

Title | Processing | Status
-- | -- | --
2017-12-15-improving-the-repository-infrastructure| @zcfan | Translating

[2019-12-17 03:56] doudounannan commented on #4
is Suspense for Data Fetching taken?

Title | Processing | Status
-- | -- | --
Suspense for Data Fetching | @doudounannan | Translating

[2020-01-22 14:25] yes1am commented on #4
| title | Processing | Status |
| --- | --- | --- |
| Legacy Context | @yes1am | done |

[pull request link](https://github.com/reactjs/zh-hans.reactjs.org/pull/370)

[2020-02-25 12:42] TabrisK commented on #4
Title|Processing|Status
--|--|--
2015-12-18-react-components-elements-and-instances|@TabrisK|Translating

[2020-03-25 03:26] ZuccRoger opened #385 "error close Tag"
here a error close Tag
in end of button
please fix it! thank you

<img width="913" alt="截屏2020-03-25上午11 19 57" src="https://user-images.githubusercontent.com/37689108/77498785-71625280-6e8b-11ea-9579-67133b2edefb.png">

[2020-03-25 08:13] yuqingc commented on #385
Sorry I don't think there are any errors in those snippets. I'll close this issue along with #386 & #387 . Feel free to reopen it if you have any questions on this. Thanks for your issue. 😄

[2020-03-25 08:13] #385 closed

[2020-04-07 03:39] #161 closed

[2020-05-05 15:11] dylanyg commented on #4
I would like to translate, starting with "Concurrent Mode",  Are you ok?

[2020-05-12 02:24] yuqingc commented on #4
@dylanyg "Concurrent Mode" is already done. https://zh-hans.reactjs.org/docs/concurrent-mode-intro.html

[2020-06-02 13:06] luffywuliao opened #410 ""黑人的命也是命" for "Black Lives Matter" is wrong"
"黑人的命也是命" is not suitable for "Black Lives Matter"

[2020-06-03 01:00] discountry commented on #410
#412 Thanks for your effort.

[2020-06-03 01:00] #410 closed

[2020-06-04 08:18] LeoooY commented on #4
I would like to translate,  "blog/2015-12-18-react-components-elements-and-instances", if not taken.

[2020-07-09 10:07] lin-fy opened #420 "some error in proptypes in react file"
Recently, I was studying react to see the document of proptypes，i found the case of proptypes causes console to report an error

error tips: Warning: Component Person declared `PropTypes` instead of `propTypes`. Did you misspell the property assignment?

[2020-07-13 01:41] QC-L commented on #420
Which file are you talking about? @lin-fy

[2020-07-14 00:58] lin-fy commented on #420
sorry，It's my fault. I thought I was closed the comment

[2020-07-14 00:58] #420 closed

[2020-09-24 14:19] Yilia-Wish commented on #4
I want to translate 2020-02-26-react-v16.13.0

[2020-10-11 08:59] ChengYanJin commented on #4
Hello, I would like to translate `cross-origin-errors.md` if nobody has done it yet.

[2020-10-26 21:20] gaearon opened #463 "Unofficial blog posts should not be on the React blog"
Hi folks!

I've noticed there are multiple blog posts that were **not** written by the React team:

https://zh-hans.reactjs.org/blog/2020/08/21/react-hooks-extra-level-of-indirection.html
https://zh-hans.reactjs.org/blog/2020/08/22/react-hooks-state-granularity.html

While I appreciate that someone wanted to share them, we should not post them on the official blog translation because the React tea

[2020-10-27 01:58] yuqingc commented on #463
I think these unofficial posts & components should also be removed:

- https://zh-hans.reactjs.org/blog/2020/05/22/react-hooks.html
- External Logo & QR code at the bottom left of  the [Home page](https://zh-hans.reactjs.org/)

[2020-10-27 05:37] QC-L commented on #463
@gaearon DONE! It was my mistake.

[2020-10-27 05:37] #463 closed

[2020-10-27 15:16] gaearon commented on #463
Thank you for quick action!

[2020-12-16 09:37] qiaodaima opened #476 "Context-文档源码示例书写错误"
[code]

`this.context` 应该是笔误了

[2020-12-16 09:39] #476 closed

[2021-04-03 10:09] Neo42 opened #519 "Wording of the translation of "composition""
Hi @gaearon and anyone who is making React better and speaks English, pardon me for disturbing you with this. But I believe this is about how we Chinese developers should understand React and you're probably the best ones to turn to when it comes to this issue, as we all know that you all have been innovating React and likely to understand the concepts better than most of us.

I know all of you gu

[2021-04-04 12:12] gaearon commented on #519
I think reusing the term from functional programming makes sense to me. It’s true people have to learn what it means but you kind of have to do that anyway so you might as well know about it. But I’d like to hear more arguments for and against from native speakers.

One other option could be to translate it contextually. For example, in places where the technical meaning isn’t important, you could

[2021-04-04 12:27] Neo42 commented on #519
@gaearon Thanks for the explanation!

[2021-04-04 13:58] robertying commented on #519
We've been talking about this for days in the translation group.

@Neo42 insists that we should use 复合 instead 组合 for `composition`.

His claim is mostly based on the transferred concept from `function composition` which uses 复合. However, 复合 is really not a good word in my opinion.

## Why not 复合 (that @Neo42 is proposing)

- 复合 as compositing is a technical term that not many people would use dai

[2021-04-04 14:35] Neo42 commented on #519
复合 as composing. Thank you!

[2021-04-04 15:02] gaearon commented on #519
@robertying

Thank you for a rather detailed explanation. I agree that if there is no existing intuition for the stricter term, going with the more intuitive one makes perfect sense. In English this isn’t a problem because the word “compose” has other common meanings backed by intuition.

I think your argument is convincing.

[2021-04-04 15:29] Neo42 commented on #519
@gaearon I don't think so. I would argue that there is a whole lot of material that covers "composition" in Chinese. We have "对象复合" for "object composition", "类复合" for "class composition", "函数复合" for "function composition" and "继承与复合" for "inheritance vs composition". In fact, all these terms were coined upfront. There are also a lot of [courses](https://www.coursera.org/lecture/cpp-chengxu-sheji/

[2021-04-04 15:55] #519 closed

[2021-04-04 16:56] Neo42 commented on #519
Thanks for the correction @gaearon @robertying!

[2021-05-26 03:04] freshgeek opened #539 "文档建议,在clock中多个都是相同时间并不能证明他们是独立的"
https://github.com/reactjs/zh-hans.reactjs.org/blob/master/content/docs/state-and-lifecycle.md

应该通过构造器传入date毫秒数,以此累加证明多个clock是独立的

[2021-05-28 14:19] QC-L commented on #539
可以去给官方提建议，他们在重构文档。
中文这里和英文保持一致

[2021-05-28 14:19] #539 closed

[2021-06-11 22:52] qinyuanchunxue opened #548 "第一步就卡死了……，请求补充更详细的步骤"
运行环境 win10 ；node.js 版本：v14.17.0

发现的问题：
1. 运行“npx create-react-app my-app”，报错：“npm ERR! code E404”；按照 https://segmentfault.com/a/1190000020056016给出的全局安装方法已解决；
2.重新运行“npx create-react-app my-app”，提示：“npm WARN … requires a peer of … but none is installed. You must install peer dependencies yourself”；按照 https://stackoverflow.com/questions/57534295/npm-err-tracker-idealtree-already-exists-while-creati

[2021-06-12 01:22] qinyuanchunxue commented on #548
解决了，虽然还是有些不明白。
3.的解决办法是 创建文件夹A，在文件夹A里运行命令 npm init 然后再运行命令 npx 。就可以了。

另外群里的大佬还给了一个解决办法，将 npx 设置为全局（未测试），这样就不用创建了文件A了，可以直接运行npx了。

还存在的疑问：为什么在 文件夹A 运行 npx 命令创建项目 my-app后，会提示 文件夹A 找不到 package.json文件呢？项目文件是 my-app 而不是 A啊？

[2021-06-12 11:40] qinyuanchunxue commented on #548
教程 npx 命令下方的用户指南超链接，和动图不同的原因在于他们安装了 yarn，一个新的模块管理器。 执行命令 `npm i -g yarn` 后，再运行 npx 命令，一楼提到的问题3 就不会出现。

补充：2楼提到的解决办法，还需要在运行npx之前先运行 `npm init` ，给文件夹A创建一个 package.json 文件，不然的话会提示找不到 package-json文件。

[2021-06-15 00:52] baxtergu commented on #548
@qinyuanchunxue 这里是中文版官方文档的仓库，只处理文档翻译部分的问题。`react` 相关的使用问题请移步至 [官方仓库 issue](https://github.com/facebook/react/issues)

[2021-06-15 00:52] #548 closed

[2021-08-08 07:17] redhat123456 commented on #4
|title | Processing	|Status|
|------|------------|------|
|Tanger| 2013-06-02-jsfiddle-integration|Translating|

[2021-08-08 07:17] redhat123456 commented on #4
|title | Processing	|Status|
|------|------------|------|
|2013-06-02-jsfiddle-integration|@Tanger |Translating|

[2021-08-28 08:48] Enki-y commented on #2
Hooks怎么翻译啊？

[2021-08-28 14:06] baxtergu commented on #2
不用翻，目前文档里 Hook 都没翻

[2021-10-17 14:12] yliaz opened #595 "Got any plans on translating the pages about community?"
I realize that the pages about community have not been translated while I was browsing the website. So I was wondering if you got any plans on translating those pages. As far as I can see, it is important to introduce the React community to people who speak Chinese.

我在浏览官网时，发现社区介绍相关的页面似乎并没有进行翻译？所以我想问一下是否有相关的翻译计划呢？我觉得把React社区介绍给说中文的朋友们还是很有必要的。

[2021-10-21 08:06] QC-L commented on #595
Fixed! Please see #597

[2021-10-21 08:08] #595 closed, assigned to nobody

[2021-10-28 04:03] QC-L opened #602 "Translation Progress Assignment Claims"
# 翻译任务认领说明

**注意：每个评论只能有一条任务，如有多条，请分开评论，保证评论数与任务数一致**。

从 Todo List 中选取未被人领取过的文章：

未被领取过：

* [ ] index

领取过，但未提 PR：

* [ ] index (@QC-L)

领取过，已提 PR：

* [ ] index #640

领取过，已合并：

* [x] index #640

**领取方式，在本 issue 下评论即可**。

认领任务格式：

[code]

示例效果：

Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  index | @QC-L | 2021.10.28 - 2021.10.30 | -

当完成时，请修改自己的认领评论，添加 PR 信息：

Section | Title |

[2021-10-28 04:05] QC-L opened #603 "Description of the translation and update process"
# 翻译流程

此流程遵循标准的 [Github Flow](https://guides.github.com/introduction/flow/)，如已了解可直接略过。

![Github Flow](https://cdn.docschina.org/home/logo/github-flow.png)

整个翻译流程分为以下几个阶段：

* 认领阶段
* 翻译阶段
* 校对阶段

## 认领阶段

如未认领文档就直接翻译，容易出现撞车的情况。

因此，在翻译前 **务必进行任务认领**。

认领任务，请到 Github Issues 选择想翻译的文档。[翻译任务认领](https://github.com/reactjs/zh-hans.reactjs.org/issues/602) 在此。

选定要翻译的文档后，即可开始翻译。

## 翻译阶段

以 React 中文文档为例，

[2021-10-29 02:14] QC-L opened #609 "[New Docs] - Translate the glossary"
词汇表：

词汇 | 翻译
:---: | :---:
What's next | 下节预告
Code linters | 代码检查工具
In this chapter | 本章节
prop drilling | prop 逐级透传

[2021-10-30 00:36] liu-jin-yi commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  render   | @liu-jin-yi | 2021.10.30 - 2021.11.2 | -

[2021-10-30 06:17] 7ooz commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  state-as-a-snapshot | @7ooz | 2021.10.31 - 2021.11.01 | -

[2021-10-30 10:51] Alienover commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  extracting-state-logic-into-a-reducer | @Alienover | 2021.10.30 - 2021.11.03 | -

[2021-10-30 11:05] qinhua commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- |  --
learn |  extracting-state-logic-into-a-reducer | @qinhua | 2021.11.1 - 2021.11.4 | -

[2021-10-31 13:27] watonyweng commented on #602
| Section |  Title  |    译者     |        完成时间         |  PR  |
| :-----: | :-----: | :---------: | :---------------------: | :--: |
| learn | start-a-new-react-project | @watonyweng | 2021.11.01 - 2021.11.03 | - |

[2021-10-31 15:38] Alienover commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  render-and-commit | @Alienover  | 2021.11.01 - 2021.11.04 | -

[2021-10-31 16:58] dahui4dev commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  react-developer-tools | @dahui4dev  | 2021.11.01 - 2021.11.03 | -

[2021-11-03 10:04] SylviaZ89 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  passing-props-to-a-component | @SylviaZ89  | 2021.11.04 - 2021.11.07 | -

[2021-11-04 02:56] 7ooz commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  state-a-components-memory | @7ooz  | 2021.11.4 - 2021.11.6 | -

[2021-11-04 07:04] dahui4dev commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  index | @dahui4dev  | 2021.11.06 - 2021.11.10 | -

[2021-11-05 08:45] Atrist commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
api |  index | @atrist | 2021.11.06 - 2021.11.10 | -

[2021-11-05 09:03] SylviaZ89 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | referencing-values-with-refs | @SylviaZ89 | 2021.11.05 - 2021.11.07 |

[2021-11-05 09:06] SylviaZ89 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | referencing-values-with-refs | @SylviaZ89 | 2021.11.05 - 2021.11.07 |

[2021-11-06 01:42] yliaz commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  updating-arrays-in-state | @yliaz | 2021.11.06 - 2021.11.07 | -

[2021-11-08 14:13] yliaz commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  updating-objects-in-state | @yliaz | 2021.11.09 - 2021.11.11 | -

[2021-11-10 01:30] liu-jin-yi commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
api |   API Reference - index   | @liu-jin-yi | 2021.11.10 - 2021.11.12 |

[2021-11-10 07:02] kingzez commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
API Reference |  usestate | @kingzez | 2021.11.13 - 2021.11.14 | -

[2021-11-10 12:23] SylviaZ89 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | manipulating-the-dom-with-refs | @SylviaZ89 | 2021.11.11 - 2021.11.14 |

[2021-11-12 07:44] liu-jin-yi commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
api |     reactdom   | @liu-jin-yi | 2021.11.12 - 2021.11.20 | -

[2021-11-18 00:55] liu-jin-yi commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |      scaling-up-with-reducer-and-context   | @liu-jin-yi | 2021.11.18 - 2021.11.25 | -

[2021-11-19 09:21] flynn-eye commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |   javascript-in-jsx-with-curly-braces | @flynn-eye | 2021.11.19 - 2021.11.27 | -

[2021-11-22 06:00] Jiacheng787 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  queueing-a-series-of-state-updates | @Jiacheng787 | 2021.11.22 - 2021.11.28 | -

[2021-11-22 13:49] KeanuoLeung commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  passing-data-deeply-with-context | @KeanuoLeung | 2021.11.22 - 2021.11.28 | -

[2021-11-22 14:52] x-cold commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | index | @x-cold | 2021.11.24 - 2021.11.30 | -

[2021-11-22 16:09] YogaLin commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | preserving-and-resetting-state | @YogaLin | 2021.11.23 - 2021.11.29 | -

[2021-11-24 14:58] QC-L commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  escape-hatches | @QC-L | 2021.11.24 - 2021.11.30 | -

[2021-11-30 03:11] Huxpro commented on #603
Hey @QC-L, 新的翻译流程发布了，标记为 ✅ 的都可以翻了（绝大多数）

https://github.com/reactjs/reactjs.org/issues/4135

[2021-11-30 12:42] x-cold commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | index | @x-cold  | 2021.11.24 - 2021.11.30 | #680

[2021-12-06 10:59] oceanlvr commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  render-and-commit | @oceanlvr | 2021.12.6 - 2021.12.12 | -

[2021-12-06 12:44] Ikaite commented on #602
<html>
<body>

Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | scaling-up-with-reducer-and-context | @Ikaite | 2021.12.6 - 2021.12.12 | -

</body>
</html>

[2021-12-07 03:30] QC-L opened #684 "Tasks of Review"
# Review 任务认领说明

**注意：每个评论只能有一条任务，如有多条，请分开评论，保证评论数与任务数一致**。

从 Todo List 中选取未被人领取过的文章：

未被领取过：

* [ ] index #602

领取过：

* [ ] index #602 (@QC-L)

领取过，已完成：

* [x] index #602 (@QC-L)

**领取方式，在本 issues 下评论即可。**

认领 Review 任务格式：

[code]

示例效果：

Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  index | @QC-L | 2021.12.08 - 2021.12.10 | -

当完成时，请通知原 PR 作者，并修改 PR。

Section | Title

[2021-12-07 03:36] HaroldHL commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  choosing-the-state-structure | @HaroldHL | 2021.12.08 - 2021.12.10 | -

[2021-12-07 03:36] takeItIzzy commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  updating-arrays-in-state | @takeItIzzy | 2021.12.08 - 2021.12.10 | -

[2021-12-07 03:38] nmsn commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | your-first-component | @nmsn | 2021.12.08 - 2021.12.10 | -

[2021-12-07 03:44] lyanmm commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  managing-state | @lyanmm | 2021.12.08 - 2021.12.10 | -

[2021-12-07 03:46] watonyweng commented on #684
| Section |  Title  |    译者     |        完成时间         |  PR  |
| :-----: | :-----: | :---------: | :---------------------: | :--: |
| API | reference/usestate | @watonyweng | 2021.12.08 - 2021.12.10 | - |

[2021-12-07 03:52] lyj505 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  describing-the-ui | @lyj505 | 2021.12.08 - 2021.12.10 | -

[2021-12-07 03:58] Ikaite commented on #684
<html>
<body>

Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | scaling-up-with-reducer-and-context | @Ikaite | 2021.12.6 - 2021.12.12 | -

</body>
</html>

[2021-12-07 03:59] Megrax commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | javascript-in-jsx-with-curly-braces  | @Megrax | 2021.12.08 - 2021.12.10 | -

[2021-12-07 04:03] QC-L commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  conditional-rendering | @QC-L | 2021.12.08 - 2021.12.10 | -

[2021-12-07 04:05] ZhangDaZongWei commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | add-react-to-a-website | @ZhangDaZongWei | 2021.12.07 - 2021.12.09 | -

[2021-12-07 04:18] BBboy01 commented on #602
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn |  reacting-to-input-with-state | @BBboy01 | 2021.12.6 - 2021.12.12 | -

[2021-12-07 04:25] yyyang1996 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  add-react-to-a-website | @yyyang1996  | 2021.12.08 - 2021.12.10 | -

[2021-12-07 04:27] Hyuain commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
learn | keeping-components-pure | @Hyuain | 2021.12.08 - 2021.12.10 | -

[2021-12-07 04:29] evan-lc commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
API Reference |  reactdom | @evan-lc | 2021.12.08 - 2021.12.10 | -

[2021-12-07 04:46] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   referencing-values-with-refs  | @Neo42 | 2021.12.08 - 2021.12.10 | -

[2021-12-07 05:03] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   preserving-and-resetting-state  | @Neo42 | 2021.12.08 - 2021.12.10 | -

[2021-12-07 07:35] rottenpen commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  keeping-components-pure | @rottenpen | 2021.12.08 - 2021.12.10 | -

[2021-12-08 01:43] Davont commented on #684
<html>
<body>

Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
API Reference |  index | @davont| 2021.12.08 - 2021.12.10 | -

</body>
</html>

[2021-12-08 01:48] rottenpen commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  passing-props-to-a-component | @rottenpen | 2021.12.09 - 2021.12.11 | -

[2021-12-08 03:40] bingcoder commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   react-developer-tools  | @QC-L | 2021.12.08 - 2021.12.9 | -

[2021-12-08 06:50] Neo42 commented on #609
state 是不是跟以前一样不用翻译？

[2021-12-08 08:17] mffy commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  translate learn/index into Chinese | @mffy | 2021.12.09 - 2021.12.11 |   -

[2021-12-09 02:51] mffy commented on #4
Hello, I would like to translate 2018-12-19-react-v-16-7.

[2021-12-09 16:59] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   choosing-the-state-structure  | @Neo42 | 2021.12.10 - 2021.12.12 | -

[2021-12-09 17:03] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   state-as-a-snapshot  | @Neo42 | 2021.12.10 - 2021.12.12 | -

[2021-12-09 17:04] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |    queueing-a-series-of-state-updates  | @Neo42 | 2021.12.10 - 2021.12.12 | -

[2021-12-10 11:00] dearalina commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  react-developer-tools | @dearalina | 2021.12.10 - 2021.12.12 | -

[2021-12-10 14:55] dearalina commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  sharing-state-between-components | @dearalina | 2021.12.10 - 2021.12.12 | -

[2021-12-11 08:21] Neo42 commented on #609
queueing 应该怎么翻译？

例子：
1. [queues a new render](https://github.com/reactjs/zh-hans.reactjs.org/blob/beta/src/pages/learn/state-as-a-snapshot.md#:~:text=setIsSent(true)%20sets%20isSent%20to%20trueand%20queues%20a%20new%20render.)
2. [Queueing a Series of State Updates](https://github.com/reactjs/zh-hans.reactjs.org/blob/beta/src/pages/learn/queueing-a-series-of-state-updates.md#:~:text=Queueing%20a%

[2021-12-11 08:56] rottenpen commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  rendering-list | @rottenpen | 2021.12.12 - 2021.12.14 |

[2021-12-11 19:31] sooia commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
Api Reference | translation api index done  | @sooia | 2021.12.12 - 2021.12.15 |   -

[2021-12-12 16:54] x-cold commented on #602
Change target branch into main.

Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
learn | index | @x-cold | 2021.11.24 - 2021.11.30 | #696

[2021-12-13 08:40] sooia commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | translate learn/index into Chinese | @sooia | 2021.12.12 - 2021.12.14 | -

[2021-12-13 08:44] sooia commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | translate learn/thinking-in-react | @sooia | 2021.12.13 - 2021.12.15 | -

[2021-12-13 15:08] x-cold commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | state-a-components-memory | @x-cold | 2021.12.14 - 2021.12.16 | -

[2021-12-14 17:03] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |     updating-objects-in-state  | @Neo42 | 2021.12.15 - 2021.12.17 | -

[2021-12-16 10:15] sooia commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | start-a-new-react-project | @sooia | 2021.12.16 - 2021.12.18 | -

[2021-12-19 05:51] yyyang1996 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  extracting-state-logic-into-a-reducer | @yyyang1996  | 2021.12.25 - 2021.12.27 | -

[2021-12-19 15:27] Neo42 commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |     render-and-commit   | @Neo42 | 2021.12.21 - 2021.12.23 |  ✅

[2021-12-20 02:22] oceanlvr commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn | reacting-to-input-with-state | @oceanlvr | 2021.12.21 - 2021.12.25 | -

[2021-12-21 10:27] takeItIzzy commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  scaling-up-with-reducer-and-context | @takeItIzzy | 2021.12.22 - 2021.12.26 | -

[2021-12-25 15:44] yyyang1996 commented on #609
和 prop 类似，dispatch actions 不翻译，对熟悉 redux 的人友好一些。

[2021-12-31 05:02] KimYangOfCat commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   reacting-to-input-with-state | @KimYangOfCat | 2021.12.31 - 2021.12.31 | -

[2021-12-31 06:52] KimYangOfCat commented on #609
state 应该如何翻译？
根据根据原本[官网上的翻译](https://zh-hans.reactjs.org/docs/state-and-lifecycle.html)，应该是作为一个独特概念，不翻译，但是在beta文档的翻译中似乎没有做统一？有些没有翻译，有些翻译为“状态”。
参考：#692

我个人支持不翻译，和以前保持一致

[2021-12-31 07:07] KimYangOfCat commented on #609
UI 应如何翻译？
UI？ 还是译为 用户界面？
参考：#692

[2021-12-31 07:13] KimYangOfCat commented on #609
代码注释有必要翻译为中文吗？
个人认为没有必要，内容相对简单，理解门槛不高，但对于后期文档维护的工作量会增加很多。

[2021-12-31 08:45] KimYangOfCat commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |   render-and-commit  | @KimYangOfCat | 2021.12.31 - 2021.12.31 | ✅

[2022-01-06 12:26] BBboy01 commented on #609
但并非所有的 state 都表示 react 中特有 state，例如 156 行状态机的解释（处于多种“状态”中）

[2022-01-06 14:43] KimYangOfCat commented on #609
@BBboy01 这确实是存在，之前是我没有考虑清楚，抱歉。我认为最好区分一下这两种场景：
1. 若是描述具体组件状态时，译为“状态”是合理的；
2. 若是特指 react 中的 state 对象，那么应该保留英文

[2022-01-06 15:26] BBboy01 commented on #609
没关系，我现在做了区分，你看看还有哪些 state 翻译的不合理吧。

[2022-01-07 00:09] TinaaaaP commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  scaling-up-with-reducer-and-context | @Tina Pu | 2022.01.06 - 2022.01.08 | -

[2022-01-16 02:31] TinaaaaP commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  render-and-commit | @TinaaaaP | 2022.01.15 - 2022.01.15 | ✅

[2022-01-16 02:31] TinaaaaP commented on #684
Section | Title | Reviewer | 完成时间 | 是否已完成
-- | -- | -- | -- | --
learn |  reacting-to-input-with-state | @TinaaaaP | 2022.01.15 - 2022.01.15 | ✅

[2022-02-26 00:59] RoseBingo commented on #602
您好，英文版官方文档更新了，我申请翻译更新的文档。
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
API |  useContext() | @RoseBingo | 2022.2.26 - 2021.3.10 | -

[2022-02-26 00:59] RoseBingo commented on #602
您好，英文版官方文档更新了，我申请翻译更新的文档。
Section | Title | 译者 | 完成时间 | PR
-- | -- | -- | -- | --
API |  useRef() | @RoseBingo | 2022.2.26 - 2021.3.10 | -

[2022-03-02 03:51] l1shu opened #743 "关于 useMemo 翻译歧义"
![image](https://user-images.githubusercontent.com/48285873/156291371-03b60e9c-fe36-4343-a1d8-3a8b72f1b5b3.png)
![image](https://user-images.githubusercontent.com/48285873/156291379-113b105d-ea6a-49da-9c1c-003a00abca0a.png)

原文的意思是不要执行在渲染阶段不会执行的事，换言之就是不应该在渲染期间去渲染（比如修改DOM）
但是译文意思是不要执行与渲染无关的操作，这里应该加一个【阶段】二字，不然可以解读成在渲染期间去渲染（比如修改DOM）

[2022-03-10 07:10] huanganfree opened #750 "这里翻译似乎漏了东西"
![image](https://user-images.githubusercontent.com/41275935/157607890-7d46369e-900e-41db-aad7-3b4259721d2a.png)

[2022-03-10 07:12] #750 closed

[2022-03-29 06:49] zzz6519003 opened #766 "Where do we translate http://beta.reactjs.org?"

[2022-04-12 06:51] awxiaoxian2020 opened #788 "Update the wiki about the 404 link."
Please update the wiki about the 404 link [中文文案排版指南](https://github.com/sparanoid/chinese-copywriting-guidelines/blob/master/README.zh-CN.md) in [React-中文文档译文排版指南](https://github.com/reactjs/zh-hans.reactjs.org/wiki/React-%E4%B8%AD%E6%96%87%E6%96%87%E6%A1%A3%E8%AF%91%E6%96%87%E6%8E%92%E7%89%88%E6%8C%87%E5%8D%97). It should be updated to https://github.com/sparanoid/chinese-copywriting-guidelines/b

[2022-04-16 15:23] awxiaoxian2020 commented on #766
It seems that there is no [deployment](https://github.com/reactjs/reactjs.org/issues/4135) for zh-cn. @QC-L

[2022-04-19 08:02] awxiaoxian2020 opened #799 "README文档中的群在什么地方？"

[2022-04-21 14:59] ifshizuku commented on #4
Hello, I'd like to translate the new version(beta) docs, where and when should I get start, thanks?

[2022-05-01 03:39] ifshizuku commented on #766
Is there anyone who can communicate with the translation team about the **beta version** translation?

[2022-05-08 07:00] HINIOA opened #822 "请问新文档（beta）中文版的地址是什么？"
如题。

[2022-05-11 09:14] awxiaoxian2020 commented on #822
The issue has reported in #766 but there is no response so far.

[2022-05-19 16:45] liangwuweb commented on #4
Hello, I'd like to translate the 2022-03-29-react-v18 if no one has taken it yet.

[2022-05-26 04:29] #743 closed

[2022-05-26 05:43] awxiaoxian2020 commented on #766
It seems that we can make a PR to the folder `beta` directly.

[2022-05-26 05:45] zzz6519003 commented on #766
@Huxpro ?

[2022-05-26 05:50] awxiaoxian2020 commented on #766
@zzz6519003 You can see many prefix `[New Docs]` in the issues. Is it what you want?

[2022-05-26 11:41] QC-L commented on #766
For the time being, people can visit https://cn-beta-reactjs.vercel.app/

[2022-05-29 05:21] QC-L commented on #799
添加 docschina-bot，我拉你进群

[2022-05-29 05:24] QC-L commented on #788
Fixed!

[2022-05-29 05:24] #788 closed

[2022-05-29 05:25] QC-L commented on #822
https://beta.react.jscn.org

[2022-05-29 05:25] #822 closed

[2022-05-29 05:25] #799 closed

[2022-05-29 05:41] awxiaoxian2020 commented on #799
Thanks!

[2022-06-08 02:36] awxiaoxian2020 opened #852 "What kind of license for wiki?"
https://github.com/reactjs/zh-hans.reactjs.org/wiki

[2022-06-27 09:51] ch1lam opened #865 "Do we need to claim the task before translating https://beta.react.org?"

[2022-06-27 10:09] #865 closed

[2022-07-15 07:57] cw1997 commented on #4
Hello, I find the 'zh-Hans' docs  [react-dom-client](https://zh-hans.reactjs.org/docs/react-dom-client.html) still don't have a Chinese edition. I'd like to translate it if nobody is working in this section.

[2022-07-15 15:49] liangwuweb commented on #4
@cw1997 I guess this repo is not active. I leave a message in May and haven't gotten a reply yet.

[2022-07-15 15:57] cw1997 commented on #4
I see the commit log in the 'main' branch has been updated recently (https://github.com/reactjs/zh-hans.reactjs.org/commits/main), but nobody responded to this PR, may they have another collaborative approach, do you know it? (⊙_⊙;)

[2022-07-15 16:23] liangwuweb commented on #4
Sorry, I don't know.😂

[2022-07-22 03:04] #852 closed

[2022-08-06 02:38] KelvinQiu802 opened #880 "The progress of translating beta docs"
下面文章已经在中文官网中显示，但是没有被翻译，也没有出现在todo中
- ESCAPE HATCHES
   - Synchronizing with Effects
   - You Might Not Need an Effect

我愿意为上面文章提供翻译。

[2022-08-07 18:28] cw1997 commented on #880
按照之前的规则，似乎翻译请求都是回复在https://github.com/reactjs/zh-hans.reactjs.org/issues/4 这里面，但是现在看来那个issue一直无人回复，不知现在的翻译流程和规则是什么

[2022-08-17 04:08] jsbugwang commented on #4
Title | Processing | Status
-- | -- | --
How to Upgrade to React 18 | @jsbugwang | Translating

[2022-09-30 02:28] cyxofgithub commented on #4
I also want to do this job, but no one seems to care about PR

[2022-10-23 03:35] favorhau commented on #4
|  Title   | Processing  | Status
|  ----  | ----  | ---- |
| Mixins Considered Harmful  | @favorhau | Translating |

[2022-10-29 07:44] fwqaaq opened #964 "Add translation guide for the beta version docs"
* Is it necessary to translate the [`Readme`](https://github.com/reactjs/zh-hans.reactjs.org/tree/main/beta#readme) of the beta version into the Chinese?
* I would like to translate it if possible.
* https://github.com/reactjs/zh-hans.reactjs.org/tree/main/beta#readme

[2022-11-14 15:22] lesenelir commented on #2
我正在阅读https://beta.reactjs.org/learn，这一章节的内容。
我比较好奇，markup在我看来应该翻译为“标签”会比现有“标记”更好一点？

[2022-11-14 15:23] lesenelir commented on #2
我正在阅读 https://beta.reactjs.org/learn
我比较好奇，markup在我看来应该翻译为“标签”会比现有“标记”更好一点？